@model Ecommerce.Models.Customer

<h1>Customer Information</h1>
<form asp-action="Delete">
    <div class="container-fluid">
        @if (ViewBag.Deleted != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Deleted
            </div>
        }
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LoyaltyPoint)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LoyaltyPoint)
            </dd>
        </dl>
        <button class="btn btn-danger" type="submit">Delete</button>
        <a asp-action="Index" class="btn btn-outline-info">Back to List</a>

        <div class="modal fade" id="dataDelete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Are You Sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You want to delete Customer data!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>