@model IEnumerable<Ecommerce.Models.Customer>
<div>

    <table class="table table-bordered table-striped table-hover mt-2 table-responsive-lg table-sm">
        <thead class="text-center bg-transparent">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Loyalty Point</th>
                <th>Control Button</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.LoyaltyPoint</td>
                    <td>
                        <button class="btn btn-info btn-sm editButton" data-id="@customer.Id"><i class="fas fa-edit"></i>Edit</button>
                        <button class="btn btn-danger btn-sm deleteButton" data-id="@customer.Id"><i class="fas fa-recycle"></i>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(".deleteButton").click(function () {
            var result = confirm("Are you sure!");
            debugger;
            if (result === true) {
                $.ajax({
                    url: "Customer/Delete",
                    method: "post",
                    data: {
                        id: $(this).attr("data-id")
                    }
                }).done(function () {
                    location.reload();
                });
            }
        });
    </script>
    @section Scripts
    {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>